global_defs {
    max_auto_priority 99
}

vrrp_track_process track_haproxy {
    script 'aillall -0 haproxy' # from https://docs.k3s.io/datastore/cluster-loadbalancer
    interval 2
}

{% for interface in interfaces %}
vrrp_instance haproxy_{{ interface }} {
    state BACKUP
    virtual_router_id {{ keepalived_router_id }}
    priority {% if interface in wireless_interfaces %}{{ priority_wireless }}{% else %}{{ priority_eth }}{% endif %}
    
    interface {{ interface }}
    advert_int 5
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ haproxy_vip }}/24
    }
    track_process {
        track_haproxy
    }
}
{% endfor %}